[submodule "backend"]
	path = backend
	url = https://github.com/Insuco-intl-limited/sycosur-backend.git
[submodule "client"]
	path = client
	url = https://github.com/Insuco-intl-limited/sycosur-frontend.git
