# Environnement
.envs
.env.local
.env.production
*.env

# Docker
.docker/
docker-compose.override.yml

# Données sensibles
data/
logs/
scripts/deploy.sh
*.log
local.yml

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# ODK Central sensible
odk-central/.env
odk-central/files/secrets/


Makefile